@charset "UTF-8"; 

body {
    background-color: rgb(242, 250, 168);
}

* {
    margin: 0px;
    
}

header {
    padding: 13px;
    color: white;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.459);
    background-image: linear-gradient(to bottom, rgb(43, 231, 90), rgb(12, 78, 12));
}

header > p {
    text-align: center;
    width: 450px;
    margin: auto;
    padding: 10px;
}

header > h1 {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

nav > a {
    color: rgb(230, 225, 225);
    text-decoration: none;
    padding: 5px 5px 0px 5px;
}

nav > a:hover {
    background-color: rgb(8, 134, 8);
    text-decoration: underline;
}

main {
    background-color: white;
}

main > h2 {
    font-family: brabo;
    background-color: rgb(139, 243, 139);
    color:  rgb(30, 124, 30);
}

@font-face {
    font-family: 'brabo';
    src: url(fontes/idroid.otf) format('Opentype');
}

main > h1 {
    color: rgb(25, 145, 25);
    font-family: brabo;
    padding: 10px;
}

#article2 > p > a {
    background-color: rgb(107, 233, 107);
    color: black;
    padding: 3px;
    font-weight: bolder;
    text-decoration: none;
}

#article2 > p > a:active {
    text-decoration: underline;
}

#article3 > h2 {
    font-family: brabo;
    background-color: rgb(139, 243, 139);
    color:  rgb(30, 99, 30);
}

footer > h3 {
    color: white;
    background-color: green;
    border-radius: 10px;
}

footer {
    background-color: rgb(79, 241, 79);
    width: 800px;
    border-radius: 10px;
}

div {
    text-align: center;
    background-color: rgb(8, 104, 8);
    color: white;
}
